In [6]:
import pandas as pd

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pandas as pd

# Configurando o WebDriver
driver = webdriver.Chrome()  # Ou webdriver.Firefox() se usar Firefox

# URL da página
url = 'http://www.ipeadata.gov.br/ExibeSerie.aspx?module=m&serid=1650971490&oper=view'
driver.get(url)

# Localizando o elemento com o XPath fornecido
element = driver.find_element(By.XPATH, '//*[@id="grd"]')

# Pegando o HTML do elemento
html_content = element.get_attribute('outerHTML')

# Usando BeautifulSoup para fazer o parsing do HTML do elemento
soup = BeautifulSoup(html_content, 'html.parser')

# Extraindo a tabela de dentro da div
tabela = soup.find('table')

# Convertendo a tabela para um DataFrame do Pandas, carregando sem cabeçalho
df = pd.read_html(str(tabela), header=None)[0]

# Localizando a primeira linha de dados reais (a primeira linha com uma data válida na coluna 'Data')
for i in range(len(df)):
    if pd.to_datetime(df.iloc[i, 0], errors='coerce') is not pd.NaT:
        df = df.iloc[i:].reset_index(drop=True)  # Redefine o DataFrame a partir da primeira linha de dados reais
        break

# Renomeando as colunas corretamente
df.columns = ['Data', 'Preço - petróleo bruto - Brent (FOB)']

# Exibindo as primeiras linhas para verificar o resultado
print(df.head())

# Fechando o WebDriver
driver.quit()

C:\Users\gabrielbrito\AppData\Local\Temp\ipykernel_65888\514086573.py:26: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tabela), header=None)[0]

         Data Preço - petróleo bruto - Brent (FOB)
0  04/11/2024                                 7489
1  01/11/2024                                 7363
2  31/10/2024                                 7325
3  30/10/2024                                 7321
4  29/10/2024                                 7109

In [17]:
# Exibindo as primeiras linhas
df.head()

         Data Preço - petróleo bruto - Brent (FOB)
0  04/11/2024                                 7489
1  01/11/2024                                 7363
2  31/10/2024                                 7325
3  30/10/2024                                 7321
4  29/10/2024                                 7109

In [18]:
#salvando df para CSV
df.to_csv('preco_petroleo_brent.csv', index=False)  # Define index=False para não salvar o índice do DataFrame

In [19]:
dados = pd.read_csv('C:/Users/gabrielbrito/FIAP/Curso/FIAP/TechChallenge/Fase 03/preco_petroleo_brent.csv')

In [20]:
dados

             Data  Preço - petróleo bruto - Brent (FOB)
0      04/11/2024                                  7489
1      01/11/2024                                  7363
2      31/10/2024                                  7325
3      30/10/2024                                  7321
4      29/10/2024                                  7109
...           ...                                   ...
11287  26/05/1987                                  1863
11288  25/05/1987                                  1860
11289  22/05/1987                                  1855
11290  21/05/1987                                  1845
11291  20/05/1987                                  1863

[11292 rows x 2 columns]